[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
imageio = "*"
numpy = "*"
#opencv-python = "*"
opencv-python-headless = "*"
Pillow = "*"
torch = ">=1.7"
torchvision = "*"
tqdm = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[packages.psycopg]
extras = [ "pool", "binary",]

